extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

// Middleware untuk menangani 404 Not Found
app.use(function(req, res, next) {
  next(createError(404));
});

// Middleware untuk menangani error lainnya
app.use(function(err, req, res, next) {
  // Set locals, hanya memberikan error pada pengembangan
  res.locals.message = err.message;
  res.locals.error = req.app.get('env') === 'development' ? err : {};

  // Render halaman error
  res.status(err.status || 500);
  res.render('error'); // Pastikan ada file 'error.ejs' atau sesuai dengan view engine yang Anda gunakan
});
